@CHARSET "ISO-8859-1";

html, body, h1, h2, h3, h4, h5 {
	font-family: "PT+Sans", sans-serif;
	color:white;
}

p,span,th{
	color:white;
}
th{
	background-color: rgba(5, 59, 97, 1);
}

body{
	background-color:rgba(194, 194, 194, 1);
}

ul{
	padding-left:10px;
}

i{
	padding:5px;
}
li{
	list-style-type: none;
	padding-top:4px;
	padding-bottom:4px;
	margin:0;
}

.main-sideBar {
    height: 100%;
    position: fixed; 
    width:175px;
    top: 0;
    left: 0;
    float:left;
    z-index:1;
    background-color:rgba(5, 59, 97, 1) ;
    overflow-x: hidden; 
    overflow-y: disabled; 
    padding-top: 150px;
    transition: 0.5s; 
}

.main-sideBar-text a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;
    background-color: rgba(5, 59, 97, 1);
}


.main-container{
	  padding-left: 185px;
	  padding-right:5px;
	  padding-top: 40px;
	  width:100%;
}

#topNav{
	padding:12px;
	background-color:rgba(3, 38, 63, 1);
	width:100%;
	top:0;
	left:0;
	position:fixed;
	z-index:15;
	color:white;
}

/* #closeSideBar{
	color:white;
	position:fixed;
	margin-left:180px;
	margin-top:-100px;
}
 */
#functionalityPanel{

	padding: 8px;
	width:100%; 
	
}
#footer{
	background-color: rgba(3, 38, 63, 1);
}